*{
    margin: 0px;
    padding: 0px;
}
.menu-content{
    display: flex;
    justify-content: space-around;
    background-color: #424141;
    color:white;
    padding: 12px;
}
.item{
    margin-right:17px;
    padding: 10px;
    font-size: 18px;
}
.menus{
    padding: 8px;
    display: flex;
    list-style: none;
}
.logo{
    width:130px;
    padding: 5px;
 
}
/* banner section1 */
 
.banner-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    height:100vh;
    color:white;
    /* background-image:url("./images/banner.png");  */
    background-image: url("./images/background.png"),linear-gradient(45deg, rgb(5, 5, 5), #2e2e2e);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    
}
.banner-photo{
        width: 300px;
}

.title{
    font-size:54px;
    font-weight: bold;
    
    }
    .description{
        font-size: 18px;
        margin-top:15px;
    }
    .btn{
        margin-top: 20px;
        padding: 13px 20px;
        outline: none;
        background-color: red;
        border-radius: 3px;
        border: none;
        color: white;
    }
    